header, #container, footer {
  width: 100%;
}

header {
  height: 185px;
  background: #fff;
}

#head_top {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid #e2e2e2;
  line-height: 30px;
  font-size: 12px;
  color: #666;
}
#head_top a {
  color: #666;
}
#head_top div > div, #head_top ul {
  display: inline-block;
  vertical-align: middle;
}
#head_top #location span {
  margin-left: 10px;
}
#head_top #location .city:after {
  content: url("../images/home/down.png");
  position: relative;
  left: 15px;
  top: 5px;
}
#head_top #login {
  margin-left: 250px;
}
#head_top #login p > a:first-child {
  color: #e40000;
}
#head_top ul {
  margin-left: 20px;
}
#head_top ul li {
  float: left;
}
#head_top ul li a {
  padding: 0px 10px;
  text-align: center;
  display: inline-block;
}
#head_top #tel {
  background: url("../images/home/tel_r.png") no-repeat 0px 6px;
  box-sizing: border-box;
  padding-left: 23px;
}
#head_top #tel span {
  font-size: 16px;
  color: #c7000b;
}

#head_middle {
  width: 100%;
  height: 115px;
  color: #666;
}

#head_menu {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #c7000b;
  color: white;
  font-size: 15px;
}
#head_menu a {
  color: white;
  font-size: 15px;
}
#head_menu > div > div, #head_menu > div > ul {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  box-sizing: border-box;
}
#head_menu #itemList {
  width: 205px;
  text-align: center;
  background: #ae0000 url("../images/home/mulu.png") no-repeat 30px 13px;
}
#head_menu #itemList:hover ul {
  display: block;
}
#head_menu #itemList ul {
  width: 100%;
  position: relative;
  z-index: 999;
  height: 450px;
  display: none;
  background-color: rgba(66, 9, 0, 0.8);
}
#head_menu #itemList ul li {
  width: 100%;
  height: 32px;
  float: none;
  color: rgba(255, 255, 255, 0.8);
}
#head_menu #itemList ul li > a {
  font-size: 13px;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 32px;
  border-bottom: 1px solid #4f121a;
  vertical-align: top;
}
#head_menu #itemList ul li:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
#head_menu #itemList ul li:hover > a {
  color: #333;
}
#head_menu #itemList ul li:hover .kind {
  display: block;
}
#head_menu #itemList ul li .kind {
  width: 985px;
  height: 450px;
  top: 0px;
  left: 205px;
  color: #333;
  display: none;
  position: absolute;
  background: rgba(255, 255, 255, 0.95);
  z-index: 999;
  text-align: left;
  font-size: 12px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-top: 20px;
}
#head_menu #itemList ul li .kind > div {
  float: left;
}
#head_menu #itemList ul li .kind > div dt {
  line-height: 30px;
  font-size: 13px;
  font-weight: bold;
  border-bottom: 1px dashed #666;
}
#head_menu #itemList ul li .kind > div a {
  color: #333;
  display: inline-block;
  font-size: 12px;
  padding: 0px 10px;
  border-right: 1px solid #ccc;
  line-height: 13px;
}
#head_menu #itemList ul li .kind > div a:hover {
  text-decoration: underline;
}
#head_menu #itemList ul li .kind > div:first-child {
  width: 70%;
  box-sizing: border-box;
  padding-right: 10px;
}
#head_menu #itemList ul li .kind > div:last-child {
  width: 30%;
  box-sizing: border-box;
  height: 200px;
}
#head_menu #itemList ul li:last-child {
  height: 34px;
}
#head_menu #itemList ul li:last-child a {
  border: none;
}
#head_menu > div > ul {
  overflow: hidden;
  margin-left: -5px;
}
#head_menu > div > ul li {
  float: left;
}
#head_menu > div > ul li a {
  display: inline-block;
  padding: 0px 20px;
}
#head_menu > div > ul li a:hover {
  background: #ae0000;
}
#head_menu > div > div:last-child {
  float: right;
}
#head_menu > div > div:last-child > a {
  display: inline-block;
  padding: 0px 20px;
}
#head_menu > div > div:last-child > a:hover {
  background: #ae0000;
}

#logo {
  float: left;
  margin-top: 30px;
}

#myShoppingCart {
  width: 174px;
  height: 42px;
  line-height: 42px;
  box-sizing: border-box;
  border: 1px solid #e2e2e2;
  float: right;
  margin-top: 30px;
  background: url("../images/home/cart.png") no-repeat 10px 14px;
  text-align: center;
}
#myShoppingCart span:first-child {
  font-size: 14px;
  margin-right: 5px;
  margin-left: 25px;
}
#myShoppingCart span:nth-child(2) {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: white;
  line-height: 24px;
  text-align: center;
  background: #ff594e;
  border-radius: 20px;
  font-size: 14px;
}
#myShoppingCart span:last-child {
  position: relative;
  left: 5px;
  top: 3px;
}

.triangle {
  display: inline-block;
  border: 5px solid transparent;
  border-top-color: #999;
}

#search {
  width: 475px;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 0 auto;
}
#search input {
  width: 426px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #e40000;
  margin-top: 30px;
  padding-left: 5px;
}
#search button {
  width: 49px;
  height: 40px;
  border: 0px;
  float: right;
  margin-top: 30px;
  background: #e40000 url("../images/home/search.png") no-repeat 10px 5px;
}
#search span {
  display: inline-block;
  margin-top: 14px;
  word-spacing: 5px;
}
