<div class="pageheart">
    <div id="location">
        <span class="province">北京</span>
        <span class="city">北京市</span>
    </div>
    <div id="login">
        <p>您好， 请<a href="./login.html">登录</a> <a href="./register.html">注册</a></p>
    </div>
    <ul>
        <li><a href="">我的订单</a>|</li>
        <li><a href="">关注商城</a>|</li>
        <li><a href="">手机办公伙伴</a>|</li>
        <li><a href="">行业资讯</a>|</li>
        <li><a href="">批发用户申请</a>|</li>
        <li><a href="">合约用户申请</a>|</li>
        <li><a href="">企业网校</a>|</li>
    </ul>
    <div id="tel">
        <span>400-678-8616</span>
    </div>
</div>