<!--页面头部-->
    <div id="head_top">
        <div class="pageheart">
            <div id="location">
                <span class="province">北京</span>
                <span class="city">北京市</span>
            </div>
            <div id="login">
                <p>您好， 请<a href="./login.html">登录</a> <a href="./register.html">注册</a></p>
            </div>
            <ul>
                <li><a href="">我的订单</a>|</li>
                <li><a href="">关注商城</a>|</li>
                <li><a href="">手机办公伙伴</a>|</li>
                <li><a href="">行业资讯</a>|</li>
                <li><a href="">批发用户申请</a>|</li>
                <li><a href="">合约用户申请</a>|</li>
                <li><a href="">企业网校</a>|</li>
            </ul>
            <div id="tel">
                <span>400-678-8616</span>
            </div>
        </div>
    </div>
    <div id="head_middle">
        <div class="pageheart">
            <a href="#" id="logo">
                <img class="lazy" data-original="../images/home/65863e06aa099d7fbc19ab83aed1f9ae78de21db.png" alt="">
            </a>
            <div id="search">
                <form action="">
                    <input type="text">
                    <button></button>
                    <span>文具  复印纸  打印机  文件夹  办公耗材  办公设备</span>
                </form>
            </div>
            <div id="myShoppingCart">
                <span>我的购物车</span>
                <span class="number">0</span>
                <span class="triangle"></span>
            </div>
        </div>
    </div>
    <menu id="head_menu">
        <div class="pageheart">
            <div id="itemList">
                <span>全部商品分类</span>
                <ul id="itemListContent">
                    <li><a href="">办公伙伴主打</a>
                        <div class="kind">
                            <div>
                                <dl>
                                    <dt>财务纸品</dt>
                                    <dd>
                                        <a href="">凭证/单据</a>
                                        <a href="">复写纸</a>
                                        <a href="">账本</a>
                                        <a href="">报表</a>
                                        <a href="">工资袋/表</a>
                                    </dd>
                                    <dt>财务周边用品</dt>
                                    <dd>
                                        <a href="">复写垫板</a>
                                        <a href="">护指套</a>
                                        <a href="">票叉</a>
                                        <a href="">湿手器/点钞腊</a>
                                        <a href="">手提金库</a>
                                        <a href="">橡皮筋支票</a>
                                    </dd>
                                    <dt>财务装订用品</dt>
                                    <dd>
                                        <a href="">财务装订机</a>
                                        <a href="">财务装订耗材</a>
                                    </dd>
                                    <dt>印章用品</dt>
                                    <dd>
                                        <a href="">号码机</a>
                                        <a href="">印台</a>
                                        <a href="">印油/印泥</a>
                                        <a href="">印章</a>
                                        <a href="">印章胶垫</a>
                                        <a href="">印章箱/盒</a>
                                    </dd>
                                </dl>
                            </div>
                            <div>
                                <dl>
                                    <dt>特色品牌</dt>
                                    <dd>
                                        <a href="">MATEIST/欧标</a>
                                        <a href="">国保</a>
                                        <a href="">姿彩</a>
                                        <a href="">啄木鸟</a>
                                        <a href="">吉丽/g-leaf</a>
                                        <a href="">赞扬</a>
                                        <a href="">南泰利</a>
                                        <a href="">三菱</a>
                                        <a href="">斑马</a>
                                        <a href="">瑞利夫</a>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </li>
                    <li><a href="">OA用纸
                    </a>
                        
                    </li>
                    <li><a href="">OA耗材
                    </a>
                   </li>
                    <li><a href="">文件管理
                    </a>
                    </li>
                    <li><a href="">财会用品
                    </a></li>
                    <li><a href="">办公设备
                    </a></li>
                    <li><a href="">数码电子
                    </a></li>
                    <li><a href="">作业用品
                    </a></li>
                    <li><a href="">生活用品
                    </a></li>
                    <li><a href="">办公家具
                    </a></li>
                    <li><a href="">办公电器
                    </a></li>
                    <li><a href="">学生体育用品
                    </a></li>
                    <li><a href="">展示用品
                    </a></li>
                    <li><a href="">精品礼物
                    </a></li>
                </ul>
            </div>
            <ul>
                <li><a href="/index.html">首页</a></li>
                <li><a href="">增值通</a></li>
                <li><a href="">帮助中心</a></li>
                <li><a href="">团购</a></li>
                <li><a href="">福分通</a></li>
                <li><a href="">渠道客户</a></li>
                <li><a href="">合约在线</a></li>
                <li><a href="">企业购</a></li>
                <li><a href="">央采</a></li>
            </ul>
            <div>
                <a href="">行业资讯</a>
                <!--<div id="user">-->
                    <!--<div class="clear">-->
                        <!--<div id="avatar">-->
                            <!--<img class="lazy" data-original="images/home/goods1.jpg" alt="">-->
                        <!--</div>-->
                        <!--<div id="welcome">-->
                            <!--<p>HI,欢迎来到办公伙伴</p>-->
                            <!--<p><a href="./view/login.html">登录</a><a href="./view/register.html">注册</a></p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div id="news" class="clear">-->
                        <!--<p class="newshead">-->
                            <!--<span>快讯</span>-->
                            <!--<a href="">更多&gt;&gt;</a>-->
                        <!--</p>-->
                        <!--<ul>-->
                            <!--<li><a href="">【通告】办公伙伴商城改版通知</a></li>-->
                            <!--<li><a href="">办公伙伴O2O一站式办公解决方案获批“重庆市互联网+试点项目</a></li>-->
                            <!--<li><a href="">【重要发布】办公伙伴精彩亮相2016中国金融采购高峰论坛</a></li>-->
                            <!--<li><a href="">独家专访中国办公伙伴何志——做一家打通最后一公里有温度的电商</a></li>-->
                            <!--<li><a href="">OfficeMate办公伙伴合约平台移动端正式上线发布</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="clear">-->
                        <!--<a href=""><img class="lazy" data-original="images/home/e88ede2ca4e89e9717d91fd0ffb15cb83eb0da85.jpg" alt=""></a>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </menu>