<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品列表</title>
    <link rel="icon" href="../images/home/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/gallery.css">
    <link rel="stylesheet" href="../font/font-awesome-4.7.0/css/font-awesome.min.css">
    <script data-main="../js/page/gallery" src="../js/require.js"></script>
</head>
<body>
    <header></header>
    <div id="container">
        <div class="pageheart clear" >
            <div id="content" class="clear">
                <div id="contop">
                    <span>您当前的位置：</span>
                    <ul class="clear">
                        <li><a href="">首页</a>»</li>
                        <li><a href="">办公伙伴主打</a>»</li>
                        <li><a href="">办公文具</a>»</li>
                        <li><a href="">桌面收纳</a>»</li>
                        <li><a href="">笔筒/名片格</a>»</li>
                        <li><a href="javascript:void(0)">欧标金属网纹圆形笔筒 亚黑 B2828</a></li>
                    </ul>
                </div>
                <div id="conmain">
                    <div class="conleft">
                        <ul>
                            <li><img src="../images/gallery/0fb969eefd34406375fa1b8780900822bf50ca6c.jpg" alt=""></li>
                            <li><img src="../images/gallery/58ebfe8d8139571f254398ccdca81ef6d8de00dc.jpg" alt=""></li>
                            <li><img src="../images/gallery/e2662f684f5d8066bbf5192caead02dd32e83257.jpg" alt=""></li>
                            <li><img src="../images/gallery/ae3242f1b7f2cbea43258d81110f30ce16fcc29b.jpg" alt=""></li>
                            <li><img src="../images/gallery/b02edbae55c267cb755471c1ead2e19940e77c69.jpg" alt=""></li>
                            <li><img src="../images/gallery/bb35a9a6543f16507acc425b37e02c454516167a.jpg" alt=""></li>
                            <li><img src="../images/gallery/df69c904b3a2dd5ee30af3b9c23790f9107f6732.jpg" alt=""></li>
                            <li><img src="../images/gallery/49ac2e9df1f80563c7d6068322aad3cf49268316.jpg" alt=""></li>
                            <li><img src="../images/gallery/8facfb0baba0635e252ece7bc6e250eda57b6cb3.jpg" alt=""></li>
                        </ul>
                    </div>
                    <div class="conright">
                        <div class="kindlist">
                            <div class="klisthead">
                                <p>商品筛选</p>
                                <p>(共<span>3195</span>件商品)</p>
                                <a href="">重置筛选项 <i class="fa fa-chevron-right"></i></a>
                            </div>
                            <div class="klisttop">
                                <span>您已选择：</span>
                            </div>
                            <div class="klistul">
                                <div>
                                    <ul class="clear">
                                        <li>分类：</li>
                                        <li><a href="">不限</a></li>
                                        <li><a href="">中性笔</a></li>
                                        <li><a href="">签字笔</a></li>
                                        <li><a href="">圆珠笔</a></li>
                                        <li><a href="">摩擦笔</a></li>
                                        <li><a href="">宝珠笔</a></li>
                                        <li><a href="">多功能笔</a></li>
                                        <li><a href="">电话笔/台笔</a></li>
                                        <li><a href="">记号笔</a></li>
                                        <li><a href="">白板笔</a></li>
                                        <li><a href="">漆油笔</a></li>
                                        <li><a href="">荧光笔</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <ul class="clear">
                                        <li>分类：</li>
                                        <li><a href="">不限</a></li>
                                        <li><a href="">中性笔</a></li>
                                        <li><a href="">签字笔</a></li>
                                        <li><a href="">圆珠笔</a></li>
                                        <li><a href="">摩擦笔</a></li>
                                        <li><a href="">宝珠笔</a></li>
                                        <li><a href="">多功能笔</a></li>
                                        <li><a href="">电话笔/台笔</a></li>
                                        <li><a href="">记号笔</a></li>
                                        <li><a href="">白板笔</a></li>
                                        <li><a href="">漆油笔</a></li>
                                        <li><a href="">荧光笔</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <ul class="clear">
                                        <li>分类：</li>
                                        <li><a href="">不限</a></li>
                                        <li><a href="">中性笔</a></li>
                                        <li><a href="">签字笔</a></li>
                                        <li><a href="">圆珠笔</a></li>
                                        <li><a href="">摩擦笔</a></li>
                                        <li><a href="">宝珠笔</a></li>
                                        <li><a href="">多功能笔</a></li>
                                        <li><a href="">电话笔/台笔</a></li>
                                        <li><a href="">记号笔</a></li>
                                        <li><a href="">白板笔</a></li>
                                        <li><a href="">漆油笔</a></li>
                                        <li><a href="">荧光笔</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <ul class="clear">
                                        <li>分类：</li>
                                        <li><a href="">不限</a></li>
                                        <li><a href="">中性笔</a></li>
                                        <li><a href="">签字笔</a></li>
                                        <li><a href="">圆珠笔</a></li>
                                        <li><a href="">摩擦笔</a></li>
                                        <li><a href="">宝珠笔</a></li>
                                        <li><a href="">多功能笔</a></li>
                                        <li><a href="">电话笔/台笔</a></li>
                                        <li><a href="">记号笔</a></li>
                                        <li><a href="">白板笔</a></li>
                                        <li><a href="">漆油笔</a></li>
                                        <li><a href="">荧光笔</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="listmenu">
                            <div>
                                <div class="listmenu1">
                                    <button>默认</button>
                                    <button>价格 <i class="fa fa-arrow-up"></i></button>
                                    <button>销量 <i class="fa fa-arrow-down"></i></button>
                                </div>
                                <div class="listmenu2">
                                    <form action="">
                                        <label for="sort">排序：</label>
                                        <select name="sort" id="sort">
                                            <option value="1">默认</option>
                                            <option value="2">按价格从高到底</option>
                                            <option value="3">按价格从低到高</option>
                                        </select>
                                    </form>
                                </div>
                                <div class="listmenu3">
                                    <input type="checkbox">仅显示有货
                                </div>
                                <div class="listmenu4"></div>
                            </div>
                            <div>
                                <p>筛选：</p>
                            </div>
                        </div>
                        <div class="items clear" id="itemsbox">
                        </div>
                        <div class="paging">
                            <div class="clear">
                                <ul class="pagelist clear">
                                    <li><a href=""><i class="fa fa-chevron-left"></i></a></li>
                                    <li><a href="">1</a></li>
                                    <li><a href="">2</a></li>
                                    <li><a href="">3</a></li>
                                    <li><a href="">4</a></li>
                                    <li><a href="">5</a></li>
                                    <li><a href="">6</a></li>
                                    <li><a href="">7</a></li>
                                    <li><a href=""><i class="fa fa-chevron-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="success">
            <div class="sutitle">
                <p>提醒</p>
                <i class="fa fa-times close"></i>
            </div>
            <div class="sucon">
                <p><i class="fa fa-check-circle-o"></i>添加购物车成功</p>
                <p><a class="close" href="javascript:void(0)">继续购物</a><a href="cart.html">进入购物车</a></p>
            </div>
        </div>
    </div>
    <footer></footer>
    <!-- 商品模板 -->
    <script id="itemtem" type="text/html">
        <%for(var i=0; i<data.length; i++){%>
        <div class="item">
            <div class="itemimg"><img src="http://www.officemate.cn/<%=data[i].image_url%>" alt=""></div>
            <div class="iteminfo">
                <h5><%=data[i].name%></h5>
                <p><span class="price">￥<%=data[i].price%></span>/支 <span>暂无评论</span></p>
                <p> 总销量：<span>1595</span></p>
            </div>
            <div class="itemsum">
                <div>
                    <a href="javascript:void(0)" class="sub">-</a><input type="text" value="1"><a class="add" href="javascript:void(0)">+</a>
                </div>
                <button class="intocart">加入购物车</button>
            </div>
            <div class="itembtn">
                <button>收藏</button>
                <button>对比</button>
            </div>
        </div>
        <%}%>
    </script>
</body>
</html>