<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品详情页面</title>
    <link rel="icon" href="../images/home/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/item.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../font/font-awesome-4.7.0/css/font-awesome.min.css">
    <script data-main="../js/page/item" src="../js/require.js"></script>
</head>
<body>
    <header></header>
    <div id="container">
        <div class="pageheart">
            <div id="content">
                <div id="contop">
                    <span>您当前的位置：</span>
                    <ul class="clear">
                        <li><a href="">首页</a>»</li>
                        <li><a href="">办公伙伴主打</a>»</li>
                        <li><a href="">办公文具</a>»</li>
                        <li><a href="">桌面收纳</a>»</li>
                        <li><a href="">笔筒/名片格</a>»</li>
                        <li><a href="javascript:void(0)">欧标金属网纹圆形笔筒 亚黑 B2828</a></li>
                    </ul>
                </div>
                <div id="conmain" class="clear">
                    <div class="conleft">
                        <div class="conleftbox">
                            <div class="clbtitle">猜你喜欢</div>
                            <div id="youlike">
                                <ul>
                                   
                                </ul>
                            </div>
                        </div>
                        <div class="conleftbox">
                            <div class="clbtitle">最近您浏览过</div>
                            <div id="history">
                                <ul>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="conright">
                        <div id="crtop">
                            <div class="crtleft">
                                <div class="imgbox" id="imgbox">
                                    <img src="../images/item/a2.jpg" alt="">
                                    <i class="fa fa-search-plus searchplus"></i>
                                </div>
                                <div id="am"></div>
                                <div class="imgList">
                                    <div id="imgSlider" class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide"><img src="../images/item/a1.jpg" alt=""></div>
                                            <div class="swiper-slide"><img src="../images/item/b1.jpg" alt=""></div>
                                            <div class="swiper-slide"><img src="../images/item/c1.jpg" alt=""></div>
                                            <div class="swiper-slide"><img src="../images/item/d1.jpg" alt=""></div>
                                            <div class="swiper-slide"><img src="../images/item/e1.jpg" alt=""></div>
                                        </div>
                                        <div id="btn_prev" class="swiper-button-prev"><i class="fa fa-caret-left"></i></div>
                                        <div id="btn_next" class="swiper-button-next"><i class="fa fa-caret-right"></i></div>
                                    </div>
                                </div>
                                <div class="btnList">
                                    <a><i class="fa fa-share-alt-square"></i> 分享</a>
                                    <a><i class="fa fa-envelope"></i> 推荐</a>
                                    <a><i class="fa fa-star"></i> 收藏</a>
                                </div>
                            </div>
                            <div class="crtright">
                                <div class="prco">
                                    <p><span>销售价：</span><span class="price">￥6.20</span></p>
                                    <p>
                                        <span>商品评分：</span >
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span>(共<span id="numps">0</span>人评价)</span>
                                    </p>
                                </div>
                                <div class="gifts">
                                    <h5>赠品:</h5>
                                    <div>
                                        <div>
                                            <span>订单促销</span>
                                        </div>
                                        <div>
                                           <span>送赠品</span> <p>学霸有礼活动，订单满69.9元送价值20元的迷你型电动笔刨一个</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="info">
                                    <table>
                                        <tr>
                                            <td>销售总量：<span>1018</span></td>
                                            <td>货品编号：<span>287018</span></td>
                                            <td>品牌：<span>MATEIST/欧标</span></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="buy">
                                    <div>
                                        <span>数量：</span>
                                        <div><a href="javascript:void(0)" class="sub">-</a><input type="text" id="num" name="num" value="1"><a href="javascript:void(0)" class="add">+</a></div>
                                        <span>个</span>
                                        <span>库存充足</span>
                                    </div>
                                    <div>
                                        <a href="">立即购买</a>
                                        <a href="">加入购物车</a>
                                        <div>
                                            <span>扫一扫购买 <i class="fa fa-qrcode"></i></span>
                                            <div>
                                                <img src="../images/item/21097c180dee571d43ee732ddd2aabf88afcec21.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="crbottom">
                            <ul class="clear">
                                <li class="iteminfo">
                                    <span>商品详情</span>
                                </li>
                                <li class="itemcom">
                                    <span>商品评论</span>
                                </li>
                                <li class="itemad">
                                    <span>商品咨询</span>
                                </li>
                                <li class="itemsale">
                                    <span>销售记录</span>
                                </li>
                                <li class="itemlog">
                                    <span>物流信息</span>
                                </li>
                            </ul>
                            <div class="crbcontent">
                                <div>
                                    <table class="tabhead">
                                        <tr>
                                            <td>品牌：MATEIST/欧标</td>
                                            <td>所属分类：笔筒/名片格</td>
                                            <td>商品编号：287018</td>
                                        </tr>
                                    </table>
                                    <div>
                                        <img src="../images/item/5b7f8114a79581cbbfdf30050b931f0e4bf0b9c1.jpg" alt="">
                                        <table>
                                            <tr>
                                                <td>品牌</td>
                                                <td>欧标</td>
                                                <td rowspan="6">
                                                    <img src="../images/item/246733a94e4e53c284419fb5da126a7fde931615.jpg" alt="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>型号</td>
                                                <td>B2828</td>
                                            </tr>
                                            <tr>
                                                <td>类型</td>
                                                <td>笔筒</td>
                                            </tr>
                                            <tr>
                                                <td>单位</td>
                                                <td>个</td>
                                            </tr>
                                            <tr>
                                                <td>商品参数</td>
                                                <td>圆形</td>
                                            </tr>
                                            <tr>
                                                <td>材质</td>
                                                <td>铁丝（喷漆）</td>
                                            </tr>
                                            <tr>
                                                <td>商品颜色</td>
                                                <td colspan="2">黑色</td>
                                            </tr>
                                            <tr>
                                                <td>尺寸</td>
                                                <td colspan="2">8*10cm</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div>
                                        <img src="../images/item/ea1a366c8241f5b3cc0efa6ebe280b40417f4983.jpg" alt="">
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <div>
                                            <p>商品评分 <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><span>0</span></p>
                                            <p><span>0</span>人评分</p>
                                        </div>
                                        <div>
                                            <p>服务质量 <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><span>0</span></p>
                                            <p>描述相符 <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><span>0</span></p>
                                            <p>商品评分 <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><span>0</span></p>
                                        </div>
                                    </div>
                                    <div>
                                        <p>如果您对本商品有什么评论或经验，欢迎分享!</p>
                                    </div>
                                </div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
    <!-- 猜你喜欢模板 -->
    <script id="yltem" type="text/html">
        <%for(var i=0; i<data.length; i++){%>
            <li>
                <a href=""><img src="http://www.officemate.cn/<%=data[i].image_url%>" alt=""></a>
                <div>
                    <h5><a href=""><%=data[i].name%></a></h5>
                    <p>销售价：￥<%=data[i].price%></p>
                </div>
            </li>
        <%}%>
    </script>
    <!-- 浏览历史模板 -->
    <script id="httem" type="text/html">
        <%for(var i=0; i<data.length; i++){%>
            <li>
                <a href=""><img src="http://www.officemate.cn/<%=data[i].image_url%>" alt=""></a>
                <div>
                    <a href=""><%=data[i].name%></a>
                </div>
            </li>
        <%}%>
    </script>
</body>
</html>