<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OfficeMate办公伙伴商城登录界面</title>
    <link rel="icon" href="../images/home/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/login.css">
    <script data-main="../js/page/login" src="../js/require.js"></script>
</head>
<body>
<header>
    <div class="pageheart">
        <div id="logo">
            <img src="../images/home/65863e06aa099d7fbc19ab83aed1f9ae78de21db.png" alt="">
        </div>
        <a href="./register.html">暂无账号？注册&gt;</a>
    </div>
</header>
<div id="container">
    <div class="pageheart">
        <div id="login">
            <div class="title">
                <h3>用户登录</h3>
            </div>
            <div class="form">
                <form action="">
                    <div>
                        <label for="username"></label><input type="text" id="username" name="username" placeholder="用户名/邮箱地址/手机号">
                        <span class="warn"></span>
                    </div>
                    <div>
                        <label for="passwd"></label><input type="password" id="passwd" name="passwd" placeholder="填写密码">
                        <span class="warn"></span>
                    </div>
                    <div>
                        <input type="checkbox"><span>记住账号</span>
                        <a href="">忘记密码？</a>
                    </div>
                    <div>
                        <button>登录</button>
                    </div>
                </form>
            </div>
            <div class="other">
                <a href="">QQ</a>
                <a href="">淘宝</a>
                <a href="">新浪</a>
                <a href="">百度</a>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="pageheart">
        <ul>
            <li><a href="">关于我们</a></li>
            <li><a href="">联系我们</a></li>
            <li><a href="">帮助中心</a></li>
            <li><a href="">购物流程</a></li>
            <li><a href="">会员中心</a></li>
            <li><a href="">合约平台</a></li>
            <li><a href="">优惠券</a></li>
            <li><a href="">办公资讯</a></li>
            <li><a href="">网站地图</a></li>
            <li><a href="">手机商城</a></li>
        </ul>
        <p>版权所有 &copy; CopyRight 2007-2017  欧菲斯办公伙伴控股有限公司  渝ICP备14006025号-1</p>
        <p><img src="../images/footer/beian.png" alt="">渝公网安备 50010302000721号  食品经营许可证：SP5009051410003138</p>
    </div>
</footer>
</body>
</html>