<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OfficeMate办公伙伴商城注册界面</title>
    <link rel="icon" href="../images/home/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/register.css">
    <script data-main="../js/page/register" src="../js/require.js"></script>
</head>
<body>
    <header>
        <div class="pageheart">
            <div id="logo">
                <img src="../images/home/65863e06aa099d7fbc19ab83aed1f9ae78de21db.png" alt="">
            </div>
            <a href="./login.html">已有账号？登录&gt;</a>
        </div>
    </header>
    <div id="container">
        <div class="pageheart">
            <form action="" onsubmit="return false">
                <div>
                    <label for="username"><sup>*</sup>登录账号：</label>
                    <input id="username" name="username" type="text" placeholder="用户名，最少4个字符">
                    <span class="warn"></span>
                </div>
                <div>
                    <label for="passwd"><sup>*</sup>密码：</label>
                    <input id="passwd" name="passwd" type="password" placeholder="6-20个字符">
                    <span class="warn"></span>
                </div>
                <div>
                    <label for="againPwd"><sup>*</sup>确认密码：</label>
                    <input id="againPwd" name="againPwd" type="password" placeholder="再次填写密码">
                    <span class="warn"></span>
                </div>
                <div>
                    <label for="name"><sup>*</sup>姓名：</label>
                    <input id="name" name="name"  type="text">
                    <span class="warn"></span>
                </div>
                <div>
                    <label for="tel"><sup>*</sup>手机号码：</label>
                    <input type="text" id="tel" name="tel" placeholder="11位数字号码">
                    <span class="warn"></span>
                </div>
                <div>
                    <label for="vfcode"><sup>*</sup>验证码：</label>
                    <input type="text" id="vfcode" name="vfcode" placeholder="填写验证码">
                    <span class="warn"></span>
                    <img src="../images/login&register/yanzheng.png" alt="">
                </div>
                <div>
                    <label for="referrals">推荐人电话号码：</label>
                    <input type="text" id="referrals" name="referrals" placeholder="输入推荐人电话号码">
                    <span class="warn"></span>
                </div>
                <div>
                    <input type="checkbox" id="agree">
                    <span>我已阅读并同意 <a href="">会员注册协议</a> 和 <a href="">隐私保护政策</a></span>
                </div>
                <div>
                    <button>注册</button>
                </div>
            </form>
        </div>
    </div>
    <footer>
        <div class="pageheart">
            <ul>
                <li><a href="">关于我们</a></li>
                <li><a href="">联系我们</a></li>
                <li><a href="">帮助中心</a></li>
                <li><a href="">购物流程</a></li>
                <li><a href="">会员中心</a></li>
                <li><a href="">合约平台</a></li>
                <li><a href="">优惠券</a></li>
                <li><a href="">办公资讯</a></li>
                <li><a href="">网站地图</a></li>
                <li><a href="">手机商城</a></li>
            </ul>
            <p>版权所有 &copy; CopyRight 2007-2017  欧菲斯办公伙伴控股有限公司  渝ICP备14006025号-1</p>
            <p><img src="../images/footer/beian.png" alt="">渝公网安备 50010302000721号  食品经营许可证：SP5009051410003138</p>
        </div>
    </footer>
</body>
</html>